parserOptions:
  ecmaVersion: '2018'
  sourceType: module
parser: babel-eslint
env:
  browser: true
  node: true
  commonjs: true
  es6: true
extends: airbnb-base
rules:
  # disallow use of console
  no-console: warn
  # disallow use of debugger
  no-debugger: error
  # specify the maximum length of a line in your program
  max-len:
    - error
    - 120
  # require return statements to either always or never specify values
  consistent-return: off
  class-methods-use-this: off
